---
import BaseLayout from '../../layouts/base-layout.astro';
import { marked } from 'marked';
import sanitizeHtml from 'sanitize-html';
import { supabase } from '../../util/supabase.astro';
import Timestamp from '../../components/timestamp/timestamp';
import TagList from '../../components/tag-list.astro';
import Seo from '../../components/seo.astro';
import CopyToClipboard from '../../components/copy-to-clipboard';
import err from '../../util/http-error';

const { postid } = Astro.params;

if (!postid) {
    return err(404);
}

const { data, error } = await supabase()
    .from('posts')
    .select()
    .eq('id', postid);

if (error || data.length === 0) {
    return err(404);
}

if (data.length > 1) {
    // what the fuck
    return err(500);
}

const content = data[0];

const trimmedText =
    content.body.slice(0, 100) + (content.body.length > 100 ? '...' : '');

const html = sanitizeHtml(await marked.parse(content.body), {
    allowedTags: sanitizeHtml.defaults.allowedTags.concat(['img']),
});

const showCopyLinkWarning = Astro.url.searchParams.get('created') === content.edit_key;
const url = Astro.url.href.split('?')[0];
const editURL = url + `/edit?key=${content.edit_key}`;
---

<BaseLayout title={`${content.title || 'Untitled'}`}>
    <Seo title={content.title} description={trimmedText} />
    {
        showCopyLinkWarning && (
            <section class="attention">
                <div>
                    <div>Post published successfully!</div>
                    {content.unlisted && (
                        <div>
                            This post is <em>unlisted</em> - make sure to copy
                            the link so you can get back here.
                        </div>
                    )}
                </div>
                <div class="right">
                    <CopyToClipboard
                        client:only="preact"
                        type="success"
                        data={url}
                    >
                        Copy URL
                    </CopyToClipboard>
                    <CopyToClipboard client:only="preact" type="info" data={editURL}>
                        Copy edit URL
                    </CopyToClipboard>
                </div>
            </section>
        )
    }

    <section class="info">
        <div class="left">
            <p class="credit">
                <span class="title">{content.title || 'Untitled'}</span> by Anonymous
                {content.unlisted && <small class="unlisted">(Unlisted)</small>}
            </p>
            <TagList tags={content?.tags} />
        </div>
        <div class="right">
            <Timestamp client:only="preact" time={content.created_at} />
            {
                content.edited_at && (
                    <small>
                        (edited{' '}
                        <Timestamp
                            client:only="preact"
                            time={content.edited_at}
                        />
                        )
                    </small>
                )
            }
            <span><a href={`/posts/${postid}/raw`} download={`${content.title}.md`}>Download</a></span>
            {content.adult_content || <div>Marked as 18+</div>}
        </div>
    </section>
    <article class="post-body" set:html={html} />
</BaseLayout>

<style>
    section.info {
        display: flex;
        justify-content: space-between;

        *:last-child {
            margin-bottom: 0;
        }

        p.credit {
            margin-bottom: 0;
        }

        .right {
            text-align: right;
        }

        .title {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 0;
        }

        .unlisted {
            opacity: 0.5;
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: end;
            text-align: right;
        }
    }

    .post-body {
        word-break: break-word;
    }

    section.attention {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-left: 2em;
        margin-right: 2em;

        background: var(--gradient-secondary);
    }
</style>

<style is:global>
    /* markdown styles */
    article.post-body {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            &:first-child {
                margin-top: 0;
            }
        }

        *:last-child {
            margin-bottom: 0;
        }
    }
</style>
