---
import BaseLayout from '../../layouts/base-layout.astro';
import { supabase } from '../../util/supabase.astro';
import Pagination from '../../components/pagination.astro';
import PostList from '../../components/post-list.astro';
import Seo from '../../components/seo.astro';
import { sortPostQuery } from '../../components/sort-by.astro';

const err = (code: number) => {
    Astro.response.status = code;
    Astro.response.statusText =
        { 404: 'Not found', 500: 'Internal server error' }[code] ?? 'Error';
    return new Response(null, Astro.response);
};

const { tag } = Astro.params;
const pageStr = Astro.url.searchParams.get('p') ?? '1';
const sortBy = Astro.url.searchParams.get('sort') ?? 'newest';

if (!tag) {
    return err(404);
}

const pageIndex = (parseInt(pageStr) || 1) - 1;

const RESULTS_PER_PAGE = 20;

let dbQuery = supabase()
    .from('posts')
    .select('title, created_at, tags, id')
    .eq('unlisted', false)
    .contains('tags', [tag]);
sortPostQuery(dbQuery, sortBy);
const { data: posts, error: postsError } = await dbQuery.range(
        pageIndex * RESULTS_PER_PAGE,
        pageIndex * RESULTS_PER_PAGE + (RESULTS_PER_PAGE - 1)
    );

const { count: total } = await supabase()
    .from('posts')
    .select('*', { count: 'exact', head: true })
    .eq('unlisted', false)
    .contains('tags', [tag]);

const totalPages = Math.ceil((total ?? 1) / RESULTS_PER_PAGE);
---

<Seo description={`All posts tagged #${tag}`} />
<BaseLayout title={`tagged "${tag}"`}>
    <h1>tagged "{tag}"</h1>
    {(posts?.length ?? 0) > 4 && <Pagination page={pageIndex} totalPages={totalPages} />}
    <PostList posts={posts} />
    <Pagination page={pageIndex} totalPages={totalPages} />
</BaseLayout>
